body
{
    min-width: 960px;
    width: 100%:
}

#top, #main
{
    width: 100%;
}

#top
{
    background-color: #333;
    color: #fff;
    min-height: 140px;
}

#top nav
{
    text-align: center;
}

#top nav a
{
    padding: 5px 20px;
    text-decoration: inherit;
    display: inline-block;
    background-color: #333;
    color: #fff;
    border: 1px solid #fff;
    border-top: none;
    margin-right: -5px;
}
#top nav a:hover
{
    background-color: #666;
}
#top nav a:first-child
{
    border-right: none;
    border-bottom-left-radius: 10px;
}
#top nav a:last-child
{
    border-left: none;
    border-bottom-right-radius: 10px;
    margin-right: auto;
}

#top nav a.current
{
    background-color: #fff;
    color: #333;
}

#top #logo
{
    position: absolute;
    top: 20px;
    left: 20px;
}

#main
{
    padding: 20px;
    position: relative;
}

#main-left
{
    top: 20px;
    left: 20px;
    width: 20%;
    position: absolute;
}

#main-content
{
    width: 80%;
    float: right;
}

#main #overview
{
    background: url('http://placehold.it/150x500&text=overview') no-repeat;
    border: 1px solid #888;
    height: 500px;
    width: 150px;
    position: relative;
}

#main #overview-selection
{
    height: 250px;
    width: 148px;
    border: 1px solid #900;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
}

#main .signers
{
    margin-bottom: 50px;
}

#main .signers .signers-people, #main .signers .signers-details
{
    float: left;
}

#main .signers .signers-people
{
    width: 15%;
}

#main .signers .signers-people img
{
    margin: 10px;
    margin-left: 0px;
}

#main .signers .signers-details
{
    width: 85%;
}

#main .signers .signers-details h1
{
    margin-top: 0;
}
